body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#videoElement {
  border: 2px solid #000;
  width: 80%;  /* Видео будет занимать 80% ширины экрана */
  max-width: 600px; /* Максимальная ширина видео */
  margin-bottom: 20px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
